.retroceder{
margin-top: 50px;
margin-left: 70px;
margin-bottom: 0;

}

.retroceder a{
    color: black;
}


.imagen{
    width:400px;
    height: 400px;
    float: left;
    margin-left: 130px;
    margin-top: 160px;
}

form{
    width: 600px;
    height: 550px;
    text-align: center;
    float: right;
    margin-right: 360px;
    
}

.usuarioContraseña{
    margin-top: 50px;
}

form div{
    margin-top: 10px;
}

h1{
    font-size: 70px;
}

h2{
    color: rgb(255, 200, 0);
    font-size: 30px;
}

input{
    text-align: center;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.registrarseIniciarSesion{
    margin-top: 25px;
    display: flex;
    margin-left: 120px;
    
}

button{
    width: 120px;
    height: 40px;
    margin-left: 40px;
    border-radius: 5px;
}

.iniciar{
    background-color: rgb(0, 178, 0);
    color: white;
}

.registrarse{
    background-color: rgb(201, 201, 201);
}

.iniciar:hover{ 
    background-color: rgb(1, 155, 1) ;
}

.registrarse:hover{
    background-color: rgb(177, 177, 177);
}

